@import '~bootstrap/scss/bootstrap';

h1 {
  text-align: center;
  background-color: lightgrey;
  color: red;
}

h4 {
  text-align: center;
  color: red;
  font-family: Didot, serif;
}


#sign-up-form {
  border: 2px solid red;
  border-radius: 5px;
  margin-bottom: 50px;
  margin-right: 100px;
  margin-left: 100px;
  text-align: center;
}

#sign-in-form {
  border: 2px solid red;
  border-radius: 5px;
  margin-right: 100px;
  margin-left: 100px;
  text-align: center;
}

// .column {
//   float: left;
// }

#change-password-form {
  background-color: lightgrey;
  color: red;
  border: 2px solid red;
}

#sign-out-form {
  margin-bottom: 50px;
}

#create-product {
  background-color: lightgrey;
  color: red;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  border: 2px solid black;
}

#index-product {
  color: red;
  text-align: center;
  border: 2px solid black;
}


#update-product {
  background-color: lightgrey;
  padding-top: 50px;
  padding-bottom: 50px;
  color: red;
  text-align: center;
  border: 2px solid black;
}

#delete-product {
  padding-top: 50px;
  padding-bottom: 50px;
  color: red;
  text-align: center;
  border: 2px solid black;
}
